binary/live/initrd
.initrd.tmp


# Chroot stuff
chroot/root/.bash_history
chroot/var/lib/logrotate/status
chroot/var/lib/dbus/machine-id
chroot/etc/mtab

#
chroot/lock
chroot/dev/
chroot/proc/
chroot/run/
chroot/sys/
chroot/tmp/
chroot/home/



chroot/etc/ssh/ssh_host*
chroot/etc/udev/rules.d/70*



chroot/var/tmp/
chroot/var/log/
chroot/var/spool/*
chroot/var/cache/apt/archives/
chroot/var/cache/man/
chroot/var/cache/apt/lists/
chroot/var/lib/apt/lists/



chroot/usr/share/zoneinfo/
chroot/usr/share/locale/
chroot/usr/share/doc/*
chroot/usr/share/man/*

